<body class="column ml-4 mr-4 mt-4">
    <!--div to create column to the left and right-->
    <div class="columns">
        <!--div to hosting the left column-->
        <div class="column is-one-third color-one m-3 box">
            <!--left column hosting profile picture-->
            <section class="column">
                <figure class="image">
                    <img class="is-rounded" alt="profile picture"
                        src="https://avatars.githubusercontent.com/u/9919?s=280&v=4">
                </figure>
                    <form class="username-form">
                        <input id="username-input" placeholder="Username"></input>
                        <button id="create-user-btn">Join Chat</button>
                    </form>

            </section>

            <section class="container users-online">
                
                {{#each username}}
                <p class="column m-2">{{this}}</p>
                {{/each}}
            </section>
        </div>

        <!--column nesting the chat name and messaging box-->
        <main class="column">
            <!--Column nesting the text area-->
            <section  class="column color-one box">
                <div  class=" column subtitle ">
                    <div id="message=container" class="columns ">
                        <ul id="messages" class=" m-2 column"></ul>
                        <div  class="columns-two ">
                        </div>
                    </div>
                    
                    <div  class="columns color-one">
                        <input id="textbox chat-input" class="input is-warning column is-11-mobile  mt-2 color-3" type="text"
                            placeholder="Start typing...">
                        <div class="column is-narrow"><button type="submit" id="button send-chat-btn"
                                class="button is-warning">Send</button>
                        </div>
                    </div>

                </div>

            </section>

        </main>
    </div>
</body>























{{!-- <script>
const messages = document.getElementById("messages")
const textbox = document.getElementById("textbox")
const button = document.getElementById("button")


 button.addEventListener("click", event => {
    event.preventDefault();

    const newMessage = document.createElement("li");
    newMessage.innerHTML = textbox.value;
    messages.appendChild(newMessage);
    newMessage.classList.add("mt-4", "mb-4", "column", "is-three-fifths", "is-half-mobile")
    console.log(newMessage);
})

</script> --}}