<body class="column ml-4 mr-4 mt-4 left-panel">
    <!--div to create column to the left and right-->
    <div class="columns">
        <!--div to hosting the left column-->
        <div class="column is-one-third color-one m-3 box">
            <!--left column hosting profile picture-->
            <section class="column">
                <figure class="image">
                    <img class="is-rounded" alt="profile picture"
                        src="https://avatars.githubusercontent.com/u/9919?s=280&v=4">
                </figure>


            </section>

            <section class="container users-online has-text-black">
                
                {{#each username}}
                <p class="column m-2">{{this}}</p>
                {{/each}}
            </section>
        </div>

        <!--column nesting the chat name and messaging box-->
        <main class="column">
            <!--Column nesting the text area-->
            <section class="column color-one box ">
                <div class=" column subtitle">
                    <div class="columns">
                        <div class="columns-two">
                            <ul id="message-container" class=" m-2 column has-text-info"></ul>
                        </div>
                    </div>
                    
                    <div class="columns color-one" id="send-container">
                      <form id="send-container" class="column">
                        <input id="message-input" class="input is-warning mt-2 color-3 message-in" type="text"
                            placeholder="Start typing...">
                        <div class="is-narrow"><button type="submit" id="send-button"
                                class="button is-warning">Send</button>
                        </div>
                    </div>

                </div>

            </section>

        </main>
    </div>
</body>

