<body class= "column ml-4 mr-4 mt-4">
    <!--div to create column to the left and right-->




    <div class="columns main-container">
        <!--div to hosting the left column-->
        <div class="column is-one-third color-one m-3 box">
            <!--left column hosting profile picture-->
            <section class="column">
                <figure class="image">
                    <img class="is-rounded" alt="profile picture" src="https://avatars.githubusercontent.com/u/9919?s=280&v=4">
                </figure>
            </section> 

            <!--USERS ONLINE LIST-->
            <section class="container">

                <!--USERNAME FORM-->
                <form class="username-form">
                    <input id="username-input" placeholder="Username"></input>
                    <button id="create-user-btn">Join Chat</button>
                </form>

                <div class="users-online">
                    <p class="column m-2">user 1</p>
                    <p class="column m-2">user 2</p>
                    <p class="column m-2">user 3</p>
                </div>

                <!-- CHANNELS -->
                <h1 class="brand">Chat App Live!</h1>
                <div class="channels">
                    <h2 class="channels-label">Channels</h2>
                    <div class="new-channel-form"><input id="new-channel-input" placeholder="New Channel" /><button id="new-channel-btn">Create</button></div>
                    <div class="channel-current">General</div>
        </div>
            </section>
    </div>

        <!--column nesting the chat name and messaging box-->
        <main class="column">
            <!--Column nesting the text area-->
            <section class="column color-one box ">
                <div class=" column subtitle">
                    <div class="columns">
                        <div class="column columns-two message-container">
                            
                            <ul id="messages" class="m-2 column contain">
                                <li class=" mt-4 mb-4 column is-three-fifths ">hello my name is</li>
                            </ul>

                        </div>
                    </div>
                    <div class="columns color-one chat-box">
                        <input class="input is-warning column  mt-2 color-3" type="text" placeholder="Start typing...">
                        <div class="column is-narrow"><button class="button is-warning send-chat-btn">Send</button></div>
                    </div>

                </div>
                
            </section>
            
        </main>
    </div>
        <script src="socket.io/socket.io.js"></script>
    <script src="/public/js/index.js"></script>
</body>