<h2 class="Title is-4 m-2" >Login</h2>
<form class="login-form">
  <div class="column is-11 m-3 pr-5">
    <label class="subtitle is-5 m-1"  for="email-login">email:</label>
    <input type="text" id="email-login" class="textbox-style input is-warning is-small" placeholder="example@.com" />
  </div>
  <div class="column is-11 m-3 pr-5" >
    <label class="subtitle is-5 m-1" for="password-login">password:</label>
    <input type="password" id="password-login" class="textbox-style input is-warning is-small " placeholder="Password here..." />
  </div>
  <div>
    <button type="submit" class="userButton button pl-2 pr-2 ml-5">login</button>
    <a href="/signup" class="ml-5 newUser">Create a new account</a>
  </div>  
</form>

<script src="/js/login.js"></script>
