<h2 class="Title is-4 m-2">Create new user</h2>
<form class="signup-form">
  <div class="column is-11 m-3 pr-5">
    <label for="username-signup" class="subtitle is-5 m-1">username:</label>
    <input type="text" id="username-signup" class="textbox-style input is-warning is-small" placeholder="example" />
  </div>
  <div class="column is-11 m-3 pr-5">
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" class="textbox-style input is-warning is-small" placeholder="example@.com" />
  </div>
  <div class="column is-11 m-3 pr-5">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" class="textbox-style input is-warning is-small " placeholder="Password here..." />
  </div>
  <div>
    <button type="submit"class="userButton button pl-2 pr-2 ml-5">signup</button>
  </div>
</form>

<script src="/js/signup.js"></script>