@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

* {
  /* border: 1px solid var(--cont2); */
  box-sizing:initial;
}

:root {  
  --bg1: #AD8350;
  --bg2: #DFCEB9;
  --bg3: #F9F5F1;
  --cont1: #FFFFFF;
  --cont2: #000000;
  --hl1: #99E0FF;
  --hl2: #9DFFA1;
  --text1: #4a2900;
  --text2: #939393;
}

.goDark {
  --bg1: #201200;
  --bg2: #603500;
  --bg3: #b9742f;
  --cont1: #000000;
  --cont2: #ffffff;
  --hl1: #434343;
  --hl2: #6f6f6f;
  --text1: #ddc6aa;
  --text2: #e8e8e8;
}

html{
  background-color: var(--bg1);
}
body{
  background-color: var(--bg1);
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--cont2);
  transition: background-color 1s;
}

a:hover {
  color: white;;
}

.pageTitle {
  font-size: 50px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--cont2);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--cont1);
}

.light-mode-button {
  cursor: pointer;
  background-color: var(--bg1);
  color: var(--cont2);
  padding: 5px;
  /* font-size: 16px; */
  font-size: 100%;
  font-weight: bold;
  border-radius: 10px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.userButton {
  background-color: var(--bg2);
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--cont2);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}



.columns-two {
  height: 40vh;
}

.color-one {
  background-color: var(--bg2);
}
.color-3 {
  background-color: var(--bg3);
}

form {
  background: var(--bg3);
  padding: 3px;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  border-color: var(--cont2);
  border-top-style: solid;
  border-top-width: 1px;
  border-radius: 10px;
}

li {
  display: list-item;
  border-radius: 20px;
}

ul {
  display: flex;
  overflow-y: scroll;
  height: 100%;
  
}
ul::-webkit-scrollbar {
  display: none;
}

li:nth-child(odd) {
  background: var(--hl1);
  display: flex;
  float: left;
}

li:nth-child(even) {
  background: var(--hl2);
  display: flex;
  float: right;
  justify-content: right;
}

p {
  text-align: center;
  background-color: var(--bg3);
  border-radius: 10px;
  top: 50%;
}

.text-center {
  text-align: center;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}

.message-in {
  width: 90%;
  margin-bottom: 5px;
}

/* .left-panel {
  height: 70%;
} */