@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css";

* {
  box-sizing:initial;
}
/* */
/*start css colors for page*/
:root {
  --white: #FFFFFF;
  --brown1: #DFCEB9;
  --brown3: #F9F5F1;
  --brown2: #AD8350;
  --grey1: #939393;
  --blue1: #99E0FF;
  --green1: #9DFFA1;
  --black: #000000;
}

.goDark {
  --bgcolor1: #000000;
  --bgcolor2: #a5a5a5;
  --text1: #AD8350;
  --text2:  #F9F5F1;
  --evenRows: #686868;
  --oddRows: #414141;
}

/* end css colors for page */

body,
html {
  background-color: var(--bgcolor1); /*broke the change to dark mode*/
  height: 100%;
  padding: 0;
  margin: 0;
  color: var(--text1);
  transition: background-color 1s;
}

a:hover {
  color: #3486eb;;
}

.pageTitle {
  font-size: 50px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--brown2);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.light-mode-button {
  cursor: pointer;
  background-color: var(--bgcolor2);
  color: var(--text2);
  padding: 10px;
  
  font-size: 100%;
  font-weight: bold;
  border-radius: 10px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.userButton {
  background-color: var(--bgcolor2);
  border: 0px;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text2);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}



.columns-two {
  height: 70vh;
}

.color-one {
  background-color: var(--brown1);
}
.color-3 {
  background-color: var(--brown3);
}

li {
  display: list-item;
  border-radius: 20px;
}

ul {
  display: flex;
  overflow-y: scroll;
  height: 100%;
  
}
ul::-webkit-scrollbar {
  display: none;
}

li:nth-child(odd) {
  background: var(--green1);
  display: flex;
  flex: left;
}

li:nth-child(even) {
  background: var(--blue1);
  display: flex;
  float: right;
  justify-content: right;
}

p {
  text-align: center;
  background-color: var(--brown3);
  border-radius: 10px;
  top: 50%;
}

.text-center {
  text-align: center;
  border-top: #000000 solid 1px;
  border-bottom: #000000 solid 1px;
}
