*{
    box-sizing:initial;
}
:root {
    --white: #FFFFFF;
    --brown1: #DFCEB9;
    --brown3: #F9F5F1;
    --brown2: #AD8350;
    --grey1: #939393;
    --blue1: #99E0FF;
    --green1: #9DFFA1;
    --black: #000000;
}

html {
    background-color:var(--brown2);
}

.columns-two {
    height: 80vh;
    
}

.color-one {
    background-color: var(--brown1);
}
.color-3 {
    background-color: var(--brown3);
}

li {
    display: list-item;
}

ul {
    display: flex;
    overflow-y: scroll;
    height: 100%;
    
}
ul::-webkit-scrollbar {
    display: none;
}

li:nth-child(odd) {
    background: var(--green1);
    display: flex;
    flex: left;
}

li:nth-child(even) {
    background: var(--blue1);
    display: flex;
    float: right;
    justify-content: right;
}

p {
    text-align: center;
    background-color: var(--brown3);
    border-radius: 10px;
}
